:root {
  --bulma-primary-h: 171;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 41%;
  --bulma-link-h: 210deg;
  --bulma-danger-h: 0;
  --bulma-danger-s: 100%;
  --bulma-danger-l: 50%;
  --bulma-size-small: 0.9rem;
}
