<%= link_to({ controller: 'org/board/organs' }, data: { turbo_frame: '_top' }, class: 'button is-warning') do %>
  <h3>立即开始使用</h3>
<% end %>
<%= link_to({ controller: 'com/my/ssh_keys' }, data: { turbo_frame: '_top' }, class: 'button is-warning', style: '--bulma-button-background-l-delta: 20%') do %>
  <h3>私有部署</h3>
<% end %>
