<section class="hero is-cover">
  <div class="hero-body is-middle text-centered">
    <h1 class="title text-white">One Work 一站式办公</h1>
    <h2 class="title is-2 text-white">所有功能，登录就有，全部免费</h2>
  </div>
</section>

<% @posts.each do |post| %>
  <div class="work_layout">
    <%= render partial: "md_layout/#{post.layout}", collection: post.raw_block_texts, as: :item %>
  </div>
<% end %>
