service: work
image: work
deploy_timeout: 100
servers:
  web:
    hosts:
      - one.work
    options:
      network-alias: one-work
  job:
    hosts:
      - one.work
    cmd: bin/jobs
boot:
  parallel_roles: true

registry:
  server: localhost:5555

volumes:
  - ~/app/acme:/rails/acme
  - ~/app/storage:/rails/storage
  - ~/app/tmp/storage:/rails/tmp/storage
  - ~/.ssh:/root/.ssh

env:
  clear:
    RAILS_ENV: production
    RAILS_MAX_THREADS: 6
    HOST: one.work
    ASSET_HOST: assets.one.work
    TZ: Asia/Shanghai
  secret:
    - POSTGRES_PASSWORD
    - RAILS_MASTER_KEY

builder:
  dockerfile: deploy/Dockerfile
  arch: x86_64
  context: .

accessories:
  postgres:
    image: ccr.ccs.tencentyun.com/kamal/postgres:18-alpine
    host: one.work
    port: 5432
    env:
      clear:
        POSTGRES_INITDB_ARGS: -c include_if_exists=/var/lib/postgresql/custom.conf
      secret:
        - POSTGRES_PASSWORD
    volumes:
      - ~/postgres_data:/var/lib/postgresql/18/docker
      - ~/app/db_dump:/root/pg_dump
    files:
      - deploy/postgresql.conf:/var/lib/postgresql/custom.conf

proxy:
  hosts:
    - one.work
    - '*.one.work'
    - '*.admin.one.work'
    - '*.mp.one.work'
    - '*.org.one.work'
  ssl:
    certificate_path: /certs/one.work.pem
    private_key_path: /certs/one.work.key
  app_port: 3000
  response_timeout: 100
  forward_headers: true
  healthcheck:
    interval: 5
    timeout: 150
