service: work_design
image: work-design/work_design
deploy_timeout: 100
servers:
  web:
    hosts:
      - work.design
  job:
    hosts:
      - work.design
    cmd: bin/jobs

registry:
  server: ccr.ccs.tencentyun.com
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

volumes:
  - ~/app/acme:/rails/acme
  - ~/app/tmp/storage:/rails/tmp/storage
  - ~/.ssh:/root/.ssh

env:
  clear:
    RAILS_ENV: production
    RAILS_MAX_THREADS: 6
    HOST: work.design
    ASSET_HOST: assets.work.design
  secret:
    - POSTGRES_PASSWORD
    - RAILS_MASTER_KEY

builder:
  dockerfile: deploy/Dockerfile
  arch: x86_64
  remote: ssh://root@map.work.design

accessories:
  postgres:
    image: ccr.ccs.tencentyun.com/kamal/postgres:18.2
    host: work.design
    port: 5432
    env:
      clear:
        POSTGRES_INITDB_ARGS: -c include_if_exists=/var/lib/postgresql/custom.conf
      secret:
        - POSTGRES_PASSWORD
    volumes:
      - ~/postgres_data:/var/lib/postgresql/18/docker
      - ~/app/db_dump:/root/pg_dump
    files:
      - deploy/postgresql.conf:/var/lib/postgresql/custom.conf
  emqx:
    image: ccr.ccs.tencentyun.com/kamal/emqx:6.0
    host: work.design
    port:
      - 1883
      - 8083
      - 8084
      - 8883
      - 18083

proxy:
  hosts:
    - work.design
    - '*.work.design'
  ssl:
    certificate_path: /certs/work.design.pem
    private_key_path: /certs/work.design.key
  app_port: 3000
  response_timeout: 100
  forward_headers: true
  healthcheck:
    interval: 5
    timeout: 150
