service: work_design
image: work-design/work_design
deploy_timeout: 100
servers:
  web:
    hosts:
      - one.work
  job:
    hosts:
      - one.work
    cmd: bin/jobs

registry:
  server: ccr.ccs.tencentyun.com
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

volumes:
  - ~/app/acme:/rails/acme
  - ~/app/tmp/storage:/rails/tmp/storage
  - ~/.ssh:/root/.ssh

env:
  clear:
    RAILS_ENV: production
    RAILS_MAX_THREADS: 6
    HOST: one.work
    ASSET_HOST: assets.one.work
  secret:
    - POSTGRES_PASSWORD
    - RAILS_MASTER_KEY

builder:
  dockerfile: deploy/Dockerfile
  arch: x86_64
  remote: ssh://root@one.work

accessories:
  postgres:
    image: ccr.ccs.tencentyun.com/kamal/postgres:18.2
    host: one.work
    port: 5432
    env:
      clear:
        POSTGRES_INITDB_ARGS: -c include_if_exists=/var/lib/postgresql/custom.conf
      secret:
        - POSTGRES_PASSWORD
    volumes:
      - ~/postgres_data:/var/lib/postgresql/18/docker
      - ~/app/db_dump:/root/pg_dump
    files:
      - deploy/postgresql.conf:/var/lib/postgresql/custom.conf
  emqx:
    image: ccr.ccs.tencentyun.com/kamal/emqx:6.0
    host: one.work
    options:
      publish:
        - 1883:1883
        - 8083:8083
        - 8084:8084
        - 8883:8883
        - 18083:18083
    proxy:
      host: emqx.one.work
      app_port: 18083
      ssl: true
      healthcheck:
        path: /

proxy:
  hosts:
    - one.work
    - '*.one.work'
    - '*.admin.one.work'
    - '*.org.one.work'
  ssl:
    certificate_path: /certs/one.work.pem
    private_key_path: /certs/one.work.key
  app_port: 3000
  response_timeout: 100
  forward_headers: true
  healthcheck:
    interval: 5
    timeout: 150
