.columns {
  &.as-main {
    background: linear-gradient(
      180deg,
      #F5EBFF 0%,
      #FAF7FF 100%
    );
  }

  .column {
    &.as-body {
      padding-top: 16px;
      padding-left: 0;
      padding-right: 24px;
      padding-bottom: 0;
    }
  }
}

.box {
  &.as-body {
    flex-grow: 1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:has(.columns) {
      max-height: calc(100vh - 16px);
      padding: 0;
    }
  }
}