.columns {
  &.as-main {
    background-color: hsl(212, 52%, 95%)
  }

  .column {
    &.as-body {
      padding-top: 16px;
      padding-left: 0;
      padding-right: 24px;
      padding-bottom: 0;
    }
  }
}

.box {
  &.as-body {
    flex-grow: 1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}