.menu {
  --bulma-menu-item-h: 212;
  --bulma-menu-item-s: 52%;
  --bulma-menu-item-background-l: 95%;

  &.as-wrap {
    background-color: transparent;
    --bulma-menu-item-selected-h: 300;
    --bulma-menu-item-selected-s: 90%;

    .menu-item:not(.is-active),
    .menu-list a:not(.is-active) {
      // background-color: transparent;
    }

    .cell:not(.is-active) {
      color: hsl(var(--bulma-menu-item-h), var(--bulma-menu-item-s), var(--bulma-text-l));
    }
  }

  &.as-side {
    --bulma-menu-item-selected-h: 0;
    --bulma-menu-item-selected-s: 0%;
    --bulma-menu-item-selected-color-l: 20%;
    background-color: transparent;

    .menu-list {
      height: 100%;
    }

    .menu-item:not(.is-active),
    .menu-list a:not(.is-active) {
      background-color: white;
    }

    .menu-item {
      text-align: center;
    }

    .menu-item.is-active {
      --bulma-menu-item-selected-background-l: 98%;
      --bulma-menu-item-background-l-delta: -5%;
    }

    .menu-item:has(+ .is-active) {
      border-bottom-right-radius: 16px;
    }

    .is-active + .menu-item:not(.is-active),
    .is-active + .flex-grow-1 {
      border-top-right-radius: 16px;
    }
  }
}