.menu {
  --bulma-menu-item-h: 212;
  --bulma-menu-item-s: 52%;
  --bulma-menu-item-background-l: 95%;

  //--bulma-menu-item-selected-l: 95%;
  --bulma-menu-item-selected-color-l: 20%;

  &.as-wrap {
    background-color: transparent;

    .menu-item,
    .menu-list a {
      background-color: transparent;
    }
  }
}