.menu {
  --bulma-menu-item-h: 212;
  --bulma-menu-item-s: 52%;
  --bulma-menu-item-background-l: 95%;

  &.as-wrap {
    --bulma-menu-item-selected-h: 300;
    --bulma-menu-item-selected-s: 90%;
    --bulma-menu-item-selected-color-l: 40%;

    background-color: transparent;

    .menu-item,
    .menu-list a {
      background-color: transparent;
    }
  }
}