@font-face {
  font-family: 'Alibaba';
  src:
    local('阿里巴巴普惠体 3.0'),
    url('https://images.work.design/fonts/AlibabaPuHuiTi-3-55-Regular.woff2') format('woff2'),
    url('https://images.work.design/fonts/AlibabaPuHuiTi-3-55-Regular.woff') format('woff'),
    url('https://images.work.design/fonts/AlibabaPuHuiTi-3-55-Regular.ttf') format('ttf');
}

body {
  --bulma-body-family: Alibaba, 'Microsoft YaHei', 'PingFang SC';
}

.slide + .weui-panel {
  margin-top: 0;
}

.weui-panel {
  &.has-border {
    border-top: 8px solid #16a488;
    border-bottom: 8px solid #16a488;
  }
  &.has-border-bottom {
    border-bottom: 8px solid #16a488;
  }
  &.has-border,
  &.has-border-bottom {
    .weui-panel__hd {
      padding: 0;
    }

    .tag.is-danger {
      background-color: #16a488;
      font-size: 0.9rem;
      border-radius: 0;
      border-bottom-right-radius: 20px;
      padding-right: 30px;
    }
  }
}
